@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Coda', cursive;
}

body{
  background-color: rgb(236, 236, 236);
}

.App {
  height: 100vh;
}

/* Login */

.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.login-container img{
  width: 300px;
  margin-bottom: 20px;
}

.login-container form{
  margin: 10px 0;
}

.login-container form input{
  padding: 2px 4px;
  border-radius: 6px 0 0 6px;
  border: none;
  background-color: rgb(230, 230, 230);
}

.login-container form button{
  border-radius: 0 6px 6px 0;
  border: none;
  height: 23px;
  width: 25px;
  background-color: rgb(218, 0, 0);
}

.login-container form button i{
  color: white;
}

/* Pokedex */

.pokedex-container{
  background-color: red;
  padding: 0.5rem;
}

.pokedex-title{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  gap: 0.5rem;
}

.pokedex-title img{
  width: 50px;
}

.pokedex-title h1{
  color: white;
}

.pokedex-menu{
  background-color: rgb(115, 228, 190);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

.pokedex-menu form input{
  padding: 2px 4px;
  border-radius: 6px 0 0 6px;
  border: none;
  background-color: aquamarine;
  transition: 0.2s;
}

.pokedex-menu form input:focus{
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

.pokedex-menu form button{
  border-radius: 0 6px 6px 0;
  border: none;
  height: 23px;
  width: 25px;
  background-color: rgb(77, 165, 136);
}

.pokedex-menu form button i{
  color: white;
}

.pokedex-menu select{
  border-radius: 6px;
  background-color: aquamarine;
  border: none;
  margin-bottom: 3px;
}

.pokedex-menu select:focus{
  outline: none;
}

.pokedex-container ul{
  background-color: rgb(115, 228, 190);
  border-radius: 0.5rem;
}

.pokemons-list{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}

/* Pokemon Card */

.pokemon-card{
  list-style: none;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  border-radius: 0.5rem;
}

.p-c-bg{
  height: 80px;
}

.pokemon-card img{
  width: 100px;
  position: absolute;
}

.card-details{
  text-align: center;
  width: 100%;
  background-color: white;
  border-radius: 0.5rem 0.5rem 7px 7px;
}

.p-name{
  margin-top: 15px;
  margin-bottom: 3px;
}

.t-details{
  text-align: center;
  margin-bottom: 5px;
}

.f-details{
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  padding: 0 0.5rem;
}

/* Pokemon Details */

.pokemon-details img{
  width: 200px;
}